/* IMPOSTAZIONI GENERALI */
html,
body {
    height: 100%;
    line-height: 1.8;
    font-family: 'Fira Sans', sans-serif;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3.5rem;
}

#container {
    height: 100%;
}

i {
    font-size: 40px;
    color: #e42424
}

/* HEADER- NAV */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    box-shadow: 1px 0px 10px 0px grey;
}

nav li {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    padding: 0px 10px;
}

a {
    text-decoration: none;
    color: black;
}

.sign-up-button {
    padding: 10px 15px;
    color: white;
    background: rgb(102, 179, 216);
    background: linear-gradient(90deg, rgba(102, 179, 216, 1) 0%, rgba(60, 53, 128, 1) 100%);
    border: none;
}





















/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    margin-top: 40px;
    height: 100px;
}

footer div {
    margin: 50px 0px 0px 50px;
    width: 290px;
    height: 200px;
}

footer h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
}

footer p {
    font-weight: 300;
}

fieldset input {
    width: 280px;
    height: 35px;
    border: none;
}

footer button {
    width: 285px;
    height: 45px;
    border: none;
    background: rgb(102, 179, 216);
    background: linear-gradient(90deg, rgba(102, 179, 216, 1) 0%, rgba(60, 53, 128, 1) 100%);
    color: white;
    cursor: pointer;
    font-size: 20px;
}

#copywrite {
    padding-top: 120px;
    text-align: center;
    background-color: rgb(238, 238, 238);
    height: 100px;
}