/* IMPOSTAZIONI GENERALI */
html,
body {
    height: 100%;
    line-height: 1.8;
    font-family: 'Fira Sans', sans-serif;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3.5rem;
}

#container {
    height: 100%;
}

/* HEADER- NAV */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    box-shadow: #d3d3d3;
}

nav li {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    padding: 0px 10px;
}

a {
    text-decoration: none;
    color: black;
}

.sign-up-button {
    padding: 10px 15px;
    color: white;
    background: rgb(102, 179, 216);
    background: linear-gradient(90deg, rgba(102, 179, 216, 1) 0%, rgba(60, 53, 128, 1) 100%);
    border: none;
}

/* MAIN - SECTION-ONE*/

#section-one {
    background-image: url(/assets/images/banner.jpg);
    background-position: center;
    background-size: cover;
    height: 53vh;
    color: white;
}

#section-one div {
    border: none;
    margin-left: 25%;
    margin-right: 20%;
    padding-top: 100px;
}

#section-one h1 {
    font-weight: 400;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

#section-one p {
    font-size: 20px;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

/* BUTTON */

#section-one button {
    font-size: 25px;
    margin-top: 1.5vh;
    border: none;
    background: rgb(102, 179, 216);
    background: linear-gradient(90deg, rgba(102, 179, 216, 1) 0%, rgba(60, 53, 128, 1) 100%);
    color: white;

}


/* BUTTON ANIMATION  */
.get-info-button {
    padding: 15px 20px;
}

.get-info-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.get-info-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.get-info-button:hover {
    box-shadow: 2px 2px 8px 2px black;
}

.get-info-button:hover span {
    padding-right: 25px;
}

.get-info-button:hover span:after {
    opacity: 1;
    right: 0;
}

/* MAIN SECTION-TWO */

#section-two {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}

#section-two div {
    margin-top: 30px;
}

#section-two h2 {
    font-size: 40px;
}

#section-two p {
    font-weight: 200;
    font-size: 18px;
    margin-top: 40px;
}

/* MAIN SECTION-THREE */

#section-three {
    display: flex;
    justify-content: center;
}

#section-three div {
    text-align: center;
    width: 300px;
    margin: 30px;
}

#section-three h2 {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 15px;

}

#section-three p {
    text-align: justify;
    font-weight: 200;
}

i {
    font-size: 40px;
    color: #e42424
}

/* MAIN SECTION-FOUR */

#section-four {
    background-color: #0c0633;
    height: 40vh;
    color: white;
    text-align: center;
}

#section-four div {
    padding-top: 80px;
}

#section-four h2 {
    font-size: 40px;
}

#section-four p {
    font-size: 15px;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 10px;
}

.write-us-button {
    font-size: 20px;
    padding: 10px 25px;
    border: none;
    background: rgb(102, 179, 216);
    background: linear-gradient(90deg, rgba(102, 179, 216, 1) 0%, rgba(60, 53, 128, 1) 100%);
    color: white;
}

.write-us-button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 8px 2px rgb(110, 110, 110);
}

/* MAIN SECTION-FIVE */

#section-five {
    display: flex;
    justify-content: center;
}

#section-five img {
    margin-top: 30px;
}

.section-five-right {
    margin-top: 100px;
    margin-left: 30px;
    line-height: 2.5;
}

#section-five span {
    font-size: 30px;
}

/* FOOTER */


/* RESPONSIVE */