/* IMPOSTAZIONI GENERALI */
html,
body {
    height: 100%;
    line-height: 1.8;
    font-family: 'Fira Sans', sans-serif;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3.5rem;
}

#container {
    height: 100%;
}

i {
    font-size: 40px;
    color: #e42424
}

/* HEADER- NAV */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    box-shadow: 1px 1px 12px 1px gray
}

nav li {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    padding: 0px 10px;
}



a {
    text-decoration: none;
    color: black;
}


.sign-up-button {
    padding: 10px 15px;
    color: white;
    background: rgb(108, 193, 226);
    background: linear-gradient(90deg, rgba(108, 193, 226, 1) 0%, rgba(57, 47, 122, 1) 100%);
    border: none;
}

/* MAIN - SECTION-ONE*/

.section-one {
    display: flex;
    background-image: url('/assets/images/banner.jpg');
    background-position: center;
    background-size: cover;
    min-height: 53vh;
    color: white;

}

.section-one div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
}

.section-one h1 {
    font-weight: 400;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

.section-one p {
    font-size: 20px;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

/* BUTTON */

.section-one button {
    font-size: 25px;
    margin-top: 10px;
    border: none;
    background: rgb(108, 193, 226);
    background: linear-gradient(90deg, rgba(108, 193, 226, 1) 0%, rgba(57, 47, 122, 1) 100%);
    color: white;

}

.get-info-button {
    padding: 15px 20px;
}

.get-info-button a {
    color: white;
}

/* BUTTON ANIMATION  */

.get-info-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.get-info-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.get-info-button:hover {
    box-shadow: 2px 2px 8px 2px black;
}

.get-info-button:hover span {
    padding-right: 25px;
}

.get-info-button:hover span:after {
    opacity: 1;
    right: 0;
}

/* MAIN SECTION-TWO */

.section-two {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}

.section-two div {
    margin-top: 30px;
}

.section-two h2 {
    font-size: 40px;
}

.section-two p {
    font-weight: 200;
    font-size: 18px;
    margin-top: 40px;
}

/* MAIN SECTION-THREE */

.section-three {
    display: flex;
    justify-content: center;
}

.section-three div {
    text-align: center;
    width: 300px;
    margin: 30px;
}

.section-three h2 {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 15px;

}

.section-three p {
    text-align: justify;
    font-weight: 200;
}


/* MAIN SECTION-FOUR */

.section-four {
    background-color: #0c0633;
    height: 300px;
    color: white;
    text-align: center;
    margin: 0 auto;
}

.section-four {
    margin: 0 auto;
}

.section-four div {
    padding: 40px;
}

.section-four h2 {
    font-size: 45px;
}

.section-four p {
    font-size: 17px;
    margin-bottom: 20px;
}

.write-us-button {
    font-size: 20px;
    padding: 10px 25px;
    border: none;
    background: rgb(108, 193, 226);
    background: linear-gradient(90deg, rgba(108, 193, 226, 1) 0%, rgba(57, 47, 122, 1) 100%);
}

.write-us-button a {
    background-color: none;
    color: white;
}

.write-us-button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 8px 2px rgb(110, 110, 110);
}

/* MAIN SECTION-FIVE */

.section-five {
    display: flex;
    justify-content: center;
}

.section-five img {
    margin-top: 30px;
    width: 100%;
}

.section-five-right {
    margin-top: 100px;
    margin-left: 30px;
    line-height: 2.5;
}

.section-five span {
    font-size: 30px;
}

/* MAIN - CHI SIAMO */
#chi-siamo {
    margin: 0 auto;
    text-align: center;
    line-height: 2;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 30px;
}

#chi-siamo .container-img {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 15%;
    margin-right: 15%;
}

#chi-siamo .container-size-img {
    margin: 10px;
}

#chi-siamo .container-size-img p {
    font-size: 13px;
}

#chi-siamo .container-size-img img {
    width: 100%;
    height: 80%;
}

#chi-siamo h1 {
    font-size: 40px;
}

/* MAIN - CHI SIAMO SECTION-TWO*/

#chi-siamo .section-two {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

table {

    margin-bottom: 2em;
    border-collapse: collapse;

}

caption {
    font-size: 25px;
    font-weight: 300;
}

thead tr {
    background-color: #5e81a2;
    color: #ffffff;
}

th,
td {
    padding: 20px 30px;
    vertical-align: bottom;
    text-align: center;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(1) {
    background-color: #d2dce7
}

tbody tr:nth-of-type(3) {
    background-color: #d2dce7
}

/* MAIN CONTATTI */

#contatti {
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 2;
}

#contatti h1 {
    text-align: center;
    font-size: 40px;
}

#contatti h2 {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

#contatti p {
    text-align: center;
    font-weight: 200;
}

#contatti address {
    text-align: center;
    font-weight: 300;
}

#contatti .flex-container-sx {
    display: flex;
    justify-content: space-around;
}

.container-form {
    width: 45%;
}

.flex-container-dx {
    width: 45%;
}

.name::placeholder {
    font-style: italic;
    padding: 10px;
}

#contatti .flex-container-dx .mail {
    margin-bottom: 20px;
}



#contatti input {
    width: 98%;
    height: 30px;
    margin-bottom: 15px;
}

#contatti textarea {
    width: 98%;
    height: 60px;
}

#contatti .flex-container-sx button {
    margin-top: 10px;
    width: 35%;
    padding: 12px 5px;
    font-size: 18px;
    color: white;
    background: rgb(108, 193, 226);
    background: linear-gradient(90deg, rgba(108, 193, 226, 1) 0%, rgba(57, 47, 122, 1) 100%);
    border: none;
}

#contatti form {
    text-align: center;
}


/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    margin-top: 40px;
}

footer div {
    margin: 50px 0px 0px 50px;
    width: 50%;
    height: 200px;
}

footer h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
}

footer p {
    font-weight: 300;
}

fieldset input {
    width: 95.5%;
    height: 35px;
    border: none;
}

footer button {
    width: 97.5%;
    height: 25%;
    border: none;
    background: rgb(108, 193, 226);
    background: linear-gradient(90deg, rgba(108, 193, 226, 1) 0%, rgba(57, 47, 122, 1) 100%);
    color: white;
    cursor: pointer;
    font-size: 20px;
}

#copywrite {
    padding-top: 120px;
    text-align: center;
    background-color: rgb(238, 238, 238);
    height: 100px;

}

.checkbtn {
    font-size: 30px;
    float: right;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* RESPONSIVE */

@media screen and (max-width: 2560px) {

    .section-one h1 {
        font-size: 80px;
    }

    .section-one p {
        font-size: 40px;
    }
}

@media screen and (max-width: 1440px) {

    .section-one h1 {
        font-size: 50px;
        margin-top: 0px;
    }

    .section-one p {
        font-size: 22px;
    }
}

@media screen and (max-width: 1200px) {


    .section-one h1 {
        font-size: 40px;
        margin-top: 0;
    }

    .section-one p {
        font-size: 15px;
    }
}

@media screen and (max-width: 1024px) {
    .section-one h1 {
        font-size: 40px;
    }

    .section-one p {
        font-size: 15px;
    }

    .section-one button {
        font-size: 20px;
        margin-top: 10px;
        border: none;
        background: rgb(108, 193, 226);
        background: linear-gradient(90deg, rgba(108, 193, 226, 1) 0%, rgba(57, 47, 122, 1) 100%);
        color: white;

    }

    .get-info-button {
        padding: 15px 20px;
    }
}

@media screen and (max-width: 1009px) {
    .section-one h1 {
        font-size: 34px;
    }
}

@media screen and (max-width: 917px) {
    .section-one h1 {
        font-size: 34px;
    }

    .section-one p {
        font-size: 15px;
    }

    .section-one button {
        font-size: 20px;
        margin-top: 10px;
        border: none;
        background: rgb(108, 193, 226);
        background: linear-gradient(90deg, rgba(108, 193, 226, 1) 0%, rgba(57, 47, 122, 1) 100%);
        color: white;
    }

    .get-info-button {
        padding: 15px 20px;
    }
}


@media screen and (max-width: 858px) {
    .section-one h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .section-one h1 {
        font-size: 30px;
    }

    .section-one p {
        font-size: 15px;
    }

    .section-one button {
        font-size: 20px;
        margin-top: 10px;
        border: none;
        background: rgb(108, 193, 226);
        background: linear-gradient(90deg, rgba(108, 193, 226, 1) 0%, rgba(57, 47, 122, 1) 100%);
        color: white;

    }

    .get-info-button {
        padding: 15px 20px;
    }
}

@media only screen and (max-width: 757px) {
    .section-one h1 {
        font-size: 26px;
    }

    .section-one p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 656px) {
    .section-one h1 {
        font-size: 23px;
    }

    .section-one p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 580px) {
    .section-one h1 {
        font-size: 22px;
    }

    .section-one p {
        font-size: 10px;
    }

    .section-one button {
        font-size: 13px;
    }

    .get-info-button {
        padding: 10px 15px;
    }
}


@media only screen and (max-width: 530px) {
    .section-one h1 {
        font-size: 20px;
    }

    .section-one p {
        font-size: 10px;
    }

    .section-one button {
        font-size: 13px;
    }

    .get-info-button {
        padding: 10px 15px;
    }

    .section-three {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .section-four div {
        padding: 40px;
    }

    .section-four h2 {
        font-size: 40px;
        line-height: 1;
        margin-bottom: 15px;
    }

    .section-four p {
        font-size: 17px;
        margin-bottom: 8px;
    }

    .section-five {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .section-five p:nth-of-type(1) {
        margin-bottom: 40px;
        line-height: 1;
    }

    .section-five p:nth-of-type(2) {
        margin-bottom: 40px;
        line-height: 1;
    }

    .section-five p:nth-of-type(3) {
        line-height: 1;
    }

    .section-five-right {
        margin-top: 0;
        margin-left: 30px;
        line-height: 2.5;
    }

    footer {
        display: flex;
        justify-content: center;
        background-color: rgb(238, 238, 238);
        margin-top: 40px;
        flex-direction: column;

    }

    footer div {
        margin: -77px 60px;
        width: 50%;
        height: 200px;
        margin-top: 33px;
    }

    footer div:nth-of-type(3) {
        display: flex;

    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        box-shadow: 1px 1px 12px 1px grey;
    }

    ul {
        position: absolute;
        width: 100%;
        height: 30%;
        top: 70px;
        left: -100%;
        text-align: center;
        background-color: white;
        line-height: 2.5;
        transition: all .5s
    }

    nav ul li {
        display: block;
    }

    #check:checked~ul {
        left: 0;
    }

    .checkbtn {
        display: block;
    }

    .fa-ellipsis {
        display: inline-block;
    }

    .sign-up-button {
        background: white;
        border: none;
        color: black;
    }

    footer div:nth-of-type(3) {
        display: flex;
        flex-direction: column;

    }

}

@media only screen and (max-width: 425px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        box-shadow: 1px 1px 12px 1px grey;
    }

    ul {
        position: absolute;
        width: 100%;
        height: 30%;
        top: 70px;
        left: -100%;
        text-align: center;
        background-color: white;
        line-height: 2.5;
        transition: all .5s
    }

    nav ul li {
        display: block;
    }

    #check:checked~ul {
        left: 0;
    }

    .checkbtn {
        display: block;
    }

    .fa-ellipsis {
        display: inline-block;
    }

    .sign-up-button {
        color: rgb(0, 0, 0);
        border: none;
    }

    .sign-up-button {
        background: white;
        border: none;
    }

    .section-one div {
        display: flex;
        margin-left: 10px;
    }

    .section-one h1 {
        font-size: 45px;
        line-height: 1;
        margin-bottom: 5px;
    }

    .section-one p {
        font-size: 13px;
    }

    .section-one button {
        font-size: 15px;
        margin-top: 10px;
        border: none;
        background: rgb(108, 193, 226);
        background: linear-gradient(90deg, rgba(108, 193, 226, 1) 0%, rgba(57, 47, 122, 1) 100%);
        color: white;
    }


    .section-three {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .section-four div {
        padding: 40px;
    }

    .section-four h2 {
        font-size: 40px;
        line-height: 1;
        margin-bottom: 15px;
    }

    .section-four p {
        font-size: 17px;
        margin-bottom: 8px;
    }

    .section-five {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .section-five p:nth-of-type(1) {
        margin-bottom: 40px;
        line-height: 1;
    }

    .section-five p:nth-of-type(2) {
        margin-bottom: 40px;
        line-height: 1;
    }

    .section-five p:nth-of-type(3) {
        line-height: 1;
    }

    .section-five-right {
        margin-top: 0;
        margin-left: 30px;
        line-height: 2.5;
    }

    footer {
        display: flex;
        justify-content: center;
        background-color: rgb(238, 238, 238);
        margin-top: 40px;
        flex-direction: column;
        line-height: 1;

    }

    footer div {
        margin: -77px 60px;
        width: 50%;
        height: 200px;
        margin-top: 33px;
    }

    footer div:nth-of-type(3) {
        display: flex;

    }

}

/* RESPONSIVE CONTATTI  */

@media only screen and (max-width: 510px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        box-shadow: 1px 1px 12px 1px grey;
    }

    ul {
        position: absolute;
        width: 100%;
        height: 25%;
        top: 70px;
        left: -100%;
        text-align: center;
        background-color: white;
        line-height: 2.7;
        transition: all .5s
    }

    ul li:hover {
        background-color: #ff7f79;
    }

    nav ul li {
        display: block;
    }

    #check:checked~ul {
        left: 0;
    }

    .checkbtn {
        display: block;
    }

    .fa-ellipsis {
        display: inline-block;
    }

    .sign-up-button {
        color: rgb(0, 0, 0);
        border: none;
    }

    .sign-up-button {
        background: white;
        border: none;
    }

    .sign-up-button:hover {
        background: #ff7f79;
        border: none;
    }

    #contatti .flex-container-sx {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-form {
        width: 70%;
    }

    #contatti .flex-container-sx button {
        margin-top: 10px;
        width: 70%;
        padding: 12px 5px;
        font-size: 18px;
        color: white;
        background: rgb(108, 193, 226);
        background: linear-gradient(90deg, rgba(108, 193, 226, 1) 0%, rgba(57, 47, 122, 1) 100%);
        border: none;
    }

    .flex-container-dx {
        margin-top: 20px;
    }
}

/* RESPONSIVE CHI SIAMO */

@media screen and (max-width: 1200px) {
    .section-chisiamo {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-bottom: 20px;
        margin-left: 2%;
        margin-right: 2%;
    }
}


@media only screen and (max-width: 768px) {
    #chi-siamo {
        margin: 0 auto;
        text-align: center;
        line-height: 2;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 107px;
    }

    #chi-siamo .container-img {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-left: 0;
        margin-right: 0;
    }

    .section-chisiamo {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-bottom: 20px;
        margin-left: 2%;
        margin-right: 2%;
    }
}

@media only screen and (max-width: 425px) {

    #chi-siamo .container-img {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 40px;
        margin-left: 0;
        margin-right: 0;
    }

    .section-chisiamo table {
        margin-bottom: 2em;
        margin-left: 2%;
        margin-right: 2%;
    }
}